.top-bar.navigation
  .top-bar-title
    = link_to root_path, class: 'strong' do
      = t('app.title')
  .top-bar-right
    %ul.menu
      %li
        %button.button{'data-toggle' => 'offCanvas', type: 'button'} Stories to print
