.row
  .column
    .projects.text-center
      = label_tag :projects, 'Select project'

      - @projects.each do |project|
        = link_to project.name, project_releases_path(project_id: project.id), class: 'button large projects__project'
