.row
  .column
    .row
      .column
        = form_tag root_path do
          = label_tag :releases
          = select_tag :releases, options_for_select(['Release 1', 'Release 2'])

    .row.stories-wrapper.small-up-1.medium-up-2.large-up-2
      .columns.column-block
        .story
          .story__title
            %p UPGRADE NEW PROJECTS TO Es6: As a developer I would like to upgrade the National-Library app so that I can future proof the app and not fall behind on upgrades.
          .story__description
            Processing by PagesController#home as HTML
      .columns.column-block
        .story
          .story__title
            %p UPGRADE NEW PROJECTS TO Es6: As a developer I would like to upgrade the National-Library app so that I can future proof the app and not fall behind on upgrades.
          .story__description
            Processing by PagesController#home as HTML
      .columns.column-block
        .story
          .story__title
            %p UPGRADE NEW PROJECTS TO Es6: As a developer I would like to upgrade the National-Library app so that I can future proof the app and not fall behind on upgrades.
          .story__description
            Processing by PagesController#home as HTML
      .columns.column-block
        .story
          .story__title
            %p UPGRADE NEW PROJECTS TO Es6: As a developer I would like to upgrade the National-Library app so that I can future proof the app and not fall behind on upgrades.
          .story__description
            Processing by PagesController#home as HTML
      .columns.column-block
        .story
          .story__title
            %p UPGRADE NEW PROJECTS TO Es6: As a developer I would like to upgrade the National-Library app so that I can future proof the app and not fall behind on upgrades.
          .story__description
            Processing by PagesController#home as HTML
      .columns.column-block
        .story
          .story__title
            %p UPGRADE NEW PROJECTS TO Es6: As a developer I would like to upgrade the National-Library app so that I can future proof the app and not fall behind on upgrades.
          .story__description
            Processing by PagesController#home as HTML

    .row
      .column
        .text-center
          = button_tag 'Print!', class: 'button large'