@media print {
  /**
   *
   * Disable all transitions
   */
  * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    visibility: visible;
    opacity: 1;
  }

  @page {
    margin: 3cm;
  }
}