.story {
  background: $white;
  border: 1px solid $gallery;
  padding: 1rem;

  @include element('title') {
    font-weight: 500;
  }

  @include element('description') {
    word-break: break-word;
  }
}