/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

// Variables
@import 'variables/typography';
@import 'variables/colors';
@import 'variables/utils';
@import 'variables/print';

// Third-party
@import 'foundation_and_overrides';
@import 'font-awesome';

// Mixins
@import 'mixins/bem';

// Blocks
@import 'blocks/container';
@import 'blocks/navigation';
@import 'blocks/releases-filter';
@import 'blocks/story';
@import 'blocks/story-print';
@import 'blocks/projects';
@import 'blocks/stories-wrapper';
@import 'blocks/print-cart';

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: pink;
  padding: 1rem;
}