- if story = story_print
  .columns.column-block
    .story-print
      %h6.story-print__title
        = story.name

      - if story.try(:description)
        .story-print__description
          = markdown story.description