!!!
%html{ lang: 'en' }
  = render 'shared/head'

  %body
    #offCanvas.off-canvas.position-right{'data-off-canvas' => ""}
      = render 'shared/print_cart'
    .off-canvas-content{'data-off-canvas-content' => ""}
      = render 'shared/navigation'
      .container
        = yield